#Let's leave everything for now
sample_apps/atmel_studio_template/.vs/MyApp/v14/.atsuo
atmel_studio_project/.vs/MiniOS/v14/.atsuo
atmel_studio_project/.vs/MiniOS/v14/.atsuo
sample_apps/atmel_studio_template/.vs/MyApp/v14/.atsuo